/*

html {
    width: 100%;
    height: 1000px;
    background-color: rgb(216, 206, 216);
}

body {
    background-color: rgb(127, 138, 138);
    width: 80%;
    height: 90%;
    margin: auto;
    border: darkred solid 3px;
    clear: both;
}
*/

h1 {
    text-align: center;
    color: rgb(1, 14, 1);
    margin-top: 0%;
    padding-top: 20px;
    width: 100%;
    height: 150px;
    /*background-color: brown;*/
    background:linear-gradient(to right, #583541, #925066,#ffad06);
}


.mainFrame{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./Layout/Images/img3.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.formBox{
    width:380px;
    height: 480px;
    position: relative;
    margin:6% auto;
    background:#fff;
    padding:5px;
    overflow: hidden;
}

.btnBox{
    width:220px;
    margin:35px auto;
    position:relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggleBtn{
    padding:10px 30px;
    cursor: pointer;
    background:transparent;
    border:0;
    outline:none;
    position: relative;
}

#btn{
    top:0;
    left:0;
    position: absolute;
    width:110px;
    height: 100%;
    background:linear-gradient(to right, #ff105f, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}

.loginForm {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    border: #ffad06 solid 3px;
    border-radius: 30px;
    background:linear-gradient(to right, #645459, #5f5558,#7d9949);
}

.inputField {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.btnSubmit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
#loginF{
    left:150px;
}
#registerF{
    left:450px;
}